:root {
        --outerMargin: 1vw;
        --innerMargin: 1vw;
        --formatPickerWidth: 20vw;
        --editorWidth: 56vw;
        --previewWidth: 19vw;

        --headerHeight: max(4vh, 20px);
        --mainHeight: calc(100vh - var(--headerHeight) - 2vh);

        color: var(--foregroundColour);
}

body {
        height: 100vh;
        overflow: hidden;
        background-color: #ceba93;
        background-image: url(/app/imgs/bg/bglq.jpg);
        background-size: cover;
}

header {
        width: 100%;
        height: var(--headerHeight);
        margin-block: 1vh;
        overflow: hidden;
        text-align: center;
        font-size: 2.5vh;
        font-family: 'Motiva-Black';
}

header img,
header div {
        display: inline-block;
        height: 100%;
        width: auto;
        fill: white;
}

header div a,
header div img {
        height: 100%;
        width: auto;
        vertical-align: middle;
        margin-inline: 0.5vw;
}

#line {
        display: inline-block;
        width: 2px;
        height: 100%;
        margin-inline: 2vw;
        background-color: white;
}

main {
        display: flex;
        height: var(--mainHeight);
        justify-content: space-between;
}

#settings {
        font-family: 'lulo';
        position: absolute;
        right: 2%;
        top: 1vh;
        border: 0;
        background-color: var(--highlightColour);
        color: var(--foregroundColour);
        font-size: 1vmin;
        min-width: 6vw;
        height: var(--headerHeight);
}

#settingsModal {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
}

#settingsPane {
        width: 50vw;
        height: 70vh;
        margin: auto;
        background-color: var(--backgroundColour);
        text-align: center;
        font-family: 'Motiva-Medium';
}

#settingsPane h1 {
        font-family: 'lulo';
        font-size: 3vh;
}

.formatBar {
        z-index: 1;
        display: inline;
        height: 100vh;
        width: var(--formatPickerWidth);
        min-width: 200px;
        margin-top: min(-6vh, -20px);
        border-right: 5px solid var(--foregroundColour);
        backdrop-filter: blur(20px);
}

.formatBar button {
        position: relative;
        display: flex;
        height: calc(100% / var(--noFormats));
        width: 100%;
        overflow: hidden;
        border: none;
        border-bottom: 5px solid var(--foregroundColour);
        background-color: #ffffff15;
        color: var(--foregroundColour);
}

.formatBar button h1 {
        margin: 0;
        float: left;
        font-family: 'Motiva-Black';
        font-size: calc(30vh / var(--noFormats));
        font-weight: normal;
}

.formatBar button a {
        position: absolute;
        left: 6px;
        top: calc(30vh / var(--noFormats) + 6px);
        font-family: 'lulo';
        font-size: calc(6vh / var(--noFormats));
        color: #ffffff99;
}

.formatBar button img {
        position: absolute;
        bottom: -15%;
        right: 0;
        height: auto;
        width: auto;
        max-height: 115%;
        z-index: -1;
}

@media screen and (max-aspect-ratio: 1.5/1) {
        .formatBar button img {
                max-height: 100%;
                right: -10%;
        }
}

.formatBar :last-child {
        border: none;
}

.formatBar .selected {
        color: var(--highlightColour);
}

.formatBar .selected a {
        color: #CE000099;
}

#extFormats {
        position: absolute;
        z-index: 2;
        left: calc(var(--formatPickerWidth) + 5px);
}

#editor {
        z-index: 1;
        position: relative;
        display: block;
        height: calc(var(--editorWidth) / var(--aspectRatio));
        max-height: 70%;
        width: var(--editorWidth);
        margin: auto var(--innerMargin) auto var(--innerMargin);
        overflow: hidden;
}

img {
        display: block;
        width: 100%;
}

#cutBox {
        pointer-events: none;
}

.highlightBorder {
        border: 2px solid var(--highlightColour);
}

.controls {
        position: absolute;
        display: flex;
        top: calc(var(--headerHeight) + 2vh);
        height: var(--mainHeight);
        margin: 0;
        justify-content: center;
        align-items: center;
}

.controls img {
        pointer-events: none;
}

input[type="range"] {
        position:relative;
        --trackHeight: 0.5rem;
        --thumbHeight: 0.8rem;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
        background: var(--highlightColour);
        height: var(--trackHeight);
        border-radius: calc(var(--trackHeight)/2);
}
input[type="range"]::-moz-range-track {
        background: var(--highlightColour);
        height: var(--trackHeight);
        border-radius: calc(var(--trackHeight)/2);
}

input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: calc(calc(var(--trackHeight)/2) - calc(var(--thumbHeight)/2));
        height: var(--thumbHeight);
        width: var(--thumbHeight);
        border-radius: calc(var(--thumbHeight)/2);
        background-color: var(--foregroundColour);
}
input[type="range"]::-moz-range-thumb {
        border: none;
        border-radius: 0;
        height: var(--thumbHeight);
        width: var(--thumbHeight);
        border-radius: calc(var(--thumbHeight)/2);
        background-color: var(--foregroundColour);
}

.controls button,
.controls button img {
        pointer-events: all;
        border: 0;
        padding: 0;
        height: 6vh;
        width: 6vh;
        vertical-align: middle;
}

.controls button img{
        margin: 0;
        padding: 0;
        border: 3px solid;
}

input[type="color"] {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 3px solid var(--highlightColour);
        padding: 0;
        height: 6.9vh;
        width: 6.9vh;
        margin-left: -1.5vw;
        vertical-align: middle;
        background-color: var(--foregroundColour);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
        appearance: none;
        padding: 0;
        margin: 0;
        width: 4vh;
        height: 4vh;
}

input[type="color"]::-webkit-color-swatch {
        appearance: none;
        mask-image: url(./imgs/buttons/color.svg);
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        border: 0;
        width: 100%;
        height: 100%;
}

input[type="color"]::-moz-color-swatch {
        -moz-appearance: none;
        mask-image: url(./imgs/buttons/color.svg);
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        border: 0;
        width: 4vh;
        height: 4vh;
}

.innerControls {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 50%;
        margin-inline: -25%;
        gap: 5%;
}

#topControls {
        margin-bottom: 80vh;
}

#topControls button,
#topControls button img,
input[type="color"] {
        border-color: var(--highlightColour);
}

#rotateLeft {
        margin-right: 20px;
}

#bottomControls {
        margin-top: 80vh;
}

#bottomControls button {
        height: 5vh;
        width: 40%;
        font-family: 'lulo';
        font-size: 2vmin;
}

#bottomControls input {
        width: 100%;
        margin-bottom: 3%;
}

#addOne {
        margin-right: 20px;
        border: 3px solid var(--highlightColour);
        background-color: var(--foregroundColour);
        color: var(--highlightColour);
}

#addAll {
        border: none;
        background-color: var(--highlightColour);
        color: var(--foregroundColour);
}

#clear img {
        border-color: var(--highlightColour);
}

#print img {
        border: 0;
}

#editorControls {
        width: 100%;
        left: 0;
}

#exportControls {
        right: var(--outerMargin);
        width: var(--previewWidth);
}

#exportControls div {
        width: 7vh;
}

#exportControls div button {
        height: 7vh;
        width: 7vh;
        margin-block: 36vh;
}

#exportControls div button img {
        height: 7vh;
        width: 7vh;
}

object,
#placeHolder {
        width: var(--previewWidth);
        height: calc(var(--previewWidth) * (12/8.5));
        margin-right: var(--outerMargin);
        margin-block: calc(48vh - (var(--previewWidth) * (6/8.5)));
}

#placeHolder {
        display: flex;
        justify-content: center;
        color: var(--highlightColour);
        font-size: large;
        font-family: 'lulo';
        text-align: center;
}

.hide {
        display: none !important;
}

#overlay {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        pointer-events: none;
}

#overlay p {
        text-align: center;
        font-family: 'Motiva-Black';
        color: var(--highlightColour);
}