:root {
        --navHeight: max(7vh, 40px);
        --contentWidth: 64vw;
        --minContentWidth: 300px;
        --intro-time: 2s;
        --marginWidth: calc((100vw - var(--contentWidth)) / 2);
}

body {
        color: var(--foregroundColour);
        font-size: 1.25rem;
        background-color: var(--backgroundColour);
}

@media screen and (max-width: 900px) {
        body {
                font-size: 1.1rem;
        }
}

h1 {
        font-size: 2.7rem;
        width: 100%;
}

@media screen and (max-width: 650px) {
        h1{
                font-size: 2rem;
        }
}

#small-cta {
        font-size: 1.5rem;
        padding: 0 3rem;
}

#large-cta {
        flex-wrap: wrap;
        justify-content: center;
        padding: 30vh 0;
}

/* NAV BAR */
#nav {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 5;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        width: var(--contentWidth);
        height: var(--navHeight);
        padding: 0 var(--marginWidth);
}

#nav.loaded{
        animation: sink-down var(--intro-time) ease-in-out forwards;
}

@keyframes sink-down {
        from {
                transform: translateY(-var(--navHeight));
        }
        to {
                transform: 0;
        }
}

#nav-logo {
        vertical-align: middle;
        margin-block: auto;
        max-height: calc(var(--navHeight) * 0.6);
        max-width: 30vw;
}

#nav div {
        align-items: center;
}

#start {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.75rem;
        padding: 3px 1vw;
}

section div {
        border-radius: 18px;
}

/* COVER SECTION */
#cover {
        padding: 5vh 0;
}

.slide-in {
        translate: 0;
}

.slide-in.loaded {
        animation: content-slide var(--intro-time) ease-out forwards;
}

@keyframes content-slide {
        0% {
                translate: 0 80vh;
        }
        100%{
                translate: 0;
        }
}

#logo-bg {
        align-items: center;
        justify-content: center;
        width: 80vmin;
        height: 80vmin;
        max-width: 6vmin;
        max-height: 6vmin;
        border-radius: 20%;
        min-width: 75px;
        min-height: 75px;
        background-color: #fff;
        margin: auto;
        margin-bottom: 1.5vh;
        transform-origin: top;
        animation: logo-scale calc(var(--intro-time) + 0.5s) ease-in-out forwards;
}

#square-logo {
        width: 85%
}

#long-logo {
        min-width: 200px;
        max-width: 20vw;
        max-height: 10vh;
}

#logo-bg.unloaded{
        animation-play-state: paused;
}

#square-logo.unloaded{
        animation: spinner 2s ease-in-out 4s alternate infinite;
}

@keyframes logo-scale {
        from {
                max-width: 80vmin;
                max-height: 80vmin;
                border-radius: 20%;
        }
        to {
                scale: 1;
        }
}

@keyframes spinner {
        to{
                transform: scale(0.8);
        }
}

#screenshot-container {
        position: relative;
        width: 100%;
}

#screenshot {
        max-width: 80vw;
        min-width: var(--minContentWidth);
        max-height: 65vh;
        -webkit-filter: drop-shadow(5px 5px 20px #222);
        filter: drop-shadow(5px 5px 20px #222);
        margin: -1vh 0 5vh;
}

.screenshot-bg {
        max-height: 20vmin;
        position: absolute;
        margin: -10vmin -10vmin;
        top: 50%;
        left: 50%;
        text-align: center;
        transform-origin: center center;
        z-index: -1;
}

/* Highlights */
#highlights {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-size: 1.5rem;
}

#highlights h1 {
        min-width: var(--minContentWidth);
        max-width: 40vw;
        margin-inline: 20vw;
}

.fade-in {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
        opacity: 1;
        transform: translateY(0);
}

/* CSP SECTION */
@media screen and (max-width: 900px) {
        #csp {
                flex-direction: column;
                padding: 0 var(--marginWidth);
        }
}


#csp {
        background-color: var(--grey);
        margin-top: 20vh;
        margin-bottom: 4vh;
        justify-content: center;
        min-height: 100vh;
        box-sizing: border-box;
        padding-block: 5%;
        gap: 25px;
        align-items: center;
}

#csp div {
        flex-basis: 25%;
        flex-grow: 0;
        flex-shrink: 0;
        color: var(--midColour);
        box-sizing: border-box;
        padding: 5vh 2vw 2vh;
        background-color: var(--pureBackgroundColour);
        height: 60vh;
}

#csp img {
        width: 25%;
}

#csp h2 {
        font-family: lulo;
        color: var(--highlightColour);
}

/* Benefit Carousel */

#deepDives {
        width: var(--contentWidth);
        margin-left: var(--marginWidth);
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        gap: 25px;
        margin-bottom: 25px;
}

.full, .half div {
        width: 100%;
}

.half {
        max-width: calc(50% - 12.5px);
}

.full div, .full img {
        max-width: 40%;
}

.full img {
        max-height: 95%;
}

@media screen and (max-width: 900px) {
        .full div, .full img, .half {
                max-width: 100%;
        }
        .full {
                flex-direction: column-reverse;
        }
}

#deepDives div {
        box-sizing: border-box;
        padding: 5%;

        align-items: center;
        justify-content: center;
        
        scroll-snap-align: center;

        background: var(--pureBackgroundColour);
        position: relative;
}

#deepDives * p, #deepDives * ul {
        color: var(--midColour);
}

#deepDives div div {
        display: block;
}

#deepDives::-webkit-scrollbar,
#deepDives::-webkit-scrollbar-thumb,
#deepDives::-webkit-scrollbar-track {
        width: 0;
        height: 0;
        background: transparent;
}