@font-face {
    font-family: TTNorms_Bold;
    src: url(/fonts/TTNorms_Bold.ttf);
}

@font-face {
    font-family: TTNorms_Regular;
    src: url(/fonts/TTNorms_Regular.ttf);
}

@font-face {
    font-family: lulo;
    src: url(/fonts/Lulo_Clean_One_Bold.ttf);
}

:root {
    --foregroundColour: #222;
    --midColour: #666;
    --grey: #666;
    --backgroundColour: #eee;
    --pureBackgroundColour: #fff;
    --highlightColour: #CE0000;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: "TTNorms_Regular";
}

/* Technical Styling */

.hide {
    display: none !important;
}

.border {
    border: 3px solid;
}

.flex{
    display: flex;
}

.noclick{
    pointer-events: none;
}

/* Text Styling */

.bold {
    font-family: "TTNorms_Bold";
}

.highlight, .link {
    text-decoration: none;
    color: var(--highlightColour);
}

.center {
    text-align: center;
}

/* Button Styles */

button {
    border: 0;
}

.button {
    padding: 3px 1vw;
    border-radius: 18px;
    border: 2px solid var(--highlightColour);
    margin-block: auto;
    text-align: center;
    text-decoration: none;
}

.white-btn {
    color: var(--highlightColour);
    border-color: var(--highlightColour);
    background-color: var(--backgroundColour);
}

.highlight-btn {
    color: var(--backgroundColour);
    border-color: var(--backgroundColour);
    background-color: var(--highlightColour);
}