@font-face {
    font-family: TTNorms_Bold;
    src: url(/fonts/TTNorms_Bold.ttf);
}

@font-face {
    font-family: TTNorms_Regular;
    src: url(/fonts/TTNorms_Regular.ttf);
}

@font-face {
    font-family: lulo;
    src: url(/fonts/Lulo_Clean_One_Bold.ttf);
}

:root {
    --foregroundColour: #fff;
    --backgroundColour: #222;
    --highlightColour: #CE0000;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.bold {
    font-family: "TTNorms_Bold";
}