@font-face {
    font-family: Motiva-Regular;
    src: url(/fonts/Regular.ttf);
}

@font-face {
    font-family: Motiva-Black;
    src: url(/fonts/Black.ttf);
}

@font-face {
    font-family: lulo;
    src: url(/fonts/Lulo_Clean_One_Bold.ttf);
}

:root {
    --foregroundColour: #fff;
    --backgroundColour: #222;
    --highlightColour: #CE0000;

    --innerMargin: 1vw;
    --formatPickerWidth: 20vw;
    --editorWidth: 48vw;
    --previewWidth: 20vw;

    background-image: url('/imgs/bg.jpg');
    background-size: cover;
    color: var(--foregroundColour);
    font-family: 'Motiva-Regular';
}

body {
    margin: 0;
}

#topBar{
    width: 100%;
    height: 3vh;
    margin-top: 1vh;

    overflow: hidden;
    text-align: center;
}

#topBar img {
    display: inline-block;
    width: auto;
    height: 100%;

    fill: white;
}

#vr {
    display: inline-block;
    width: 2px;
    height: 100%;
    margin-inline: 2vw;

    background-color: white;
}

content {
    display: flex;
    height: 96vh;

    justify-content: space-between;
}

#formatBar {
    --noFormats: 1;
    display: inline;
    height: 100vh;
    width: var(--formatPickerWidth);
    margin-top: -4vh;

    border-right: 5px solid var(--foregroundColour);
    backdrop-filter: blur(20px);
}

#formatBar button {
    position: relative;
    display: flex;
    height: calc(100% / var(--noFormats));
    width: 100%;

    border: none;
    border-bottom: 5px solid var(--foregroundColour);

    background-color: #ffffff15;
    color: var(--foregroundColour);
}

button h1 {
    margin: 0;

    float: left;
    
    font-family: 'Motiva-Black';
    font-size: calc(20vh / var(--noFormats));
    font-weight: normal;
}

button a {
    position: absolute;
    display: block;
    left: 6px;
    top: calc(20vh / var(--noFormats) + 6px);
    
    font-family: 'lulo';
    font-size: calc(4vh / var(--noFormats));
    color: #ffffff99;
}

button img {
    position: absolute;
    bottom: 12px;
    right: calc(var(--formatPickerWidth) / 10);
    height: calc(60vh / var(--noFormats));
    width: auto;
}

#formatBar :last-child {
    border: none;
}

#formatBar button:focus {
    color: var(--backgroundColour);
    background-color: var(--foregroundColour);
}

#editor {
    position: relative;
    display: block;
    height: calc(var(--editorWidth) / var(--aspectRatio));
    max-height: 80%;
    width: var(--editorWidth);
    margin: auto var(--innerMargin);
}

img {
    display: block;
    width: 100%;
}

.highlightBorder{
    border: 2px solid var(--highlightColour);
}

#topControls{
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    top: 5vh;

    justify-content: center;
}

#rotateLeft {
    margin-right: 20px;
}

#controls {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    bottom: 5vh;

    justify-content: center;
}
#controls button {
    width: 20%;
    font-family: 'lulo';
    font-size: large;
}
#addOne {
    margin-right: 20px;

    border: 3px solid var(--highlightColour);
    background-color: var(--foregroundColour);
    color: var(--highlightColour);
}
#addAll {
    border: none;
    background-color: var(--highlightColour);
    color: var(--foregroundColour);
}

object, #placeHolder {
    width: var(--previewWidth);
    height: calc(var(--previewWidth) * (11/8.5));
    margin: auto 0;
}