@font-face {
    font-family: Motiva-Regular;
    src: url(/fonts/MotivaRegular.ttf);
}

@font-face {
    font-family: Motiva-Black;
    src: url(/fonts/MotivaBlack.ttf);
}

@font-face {
    font-family: lulo;
    src: url(/fonts/Lulo_Clean_One_Bold.ttf);
}

:root {
    --foregroundColour: #fff;
    --backgroundColour: #222;
    --highlightColour: #CE0000;

    --outerMargin: 1vw;
    --innerMargin: 1vw;
    --formatPickerWidth: 20vw;
    --editorWidth: 56vw;
    --previewWidth: 20vw;

    background-image: url('/imgs/bg.jpg');
    background-size: cover;
    color: var(--foregroundColour);
    font-family: 'Motiva-Regular';
}

body {
    margin: 0;
}

#topBar{
    width: 100%;
    height: 3vh;
    margin-top: 1vh;

    overflow: hidden;
    text-align: center;
}

#topBar img {
    display: inline-block;
    width: auto;
    height: 100%;

    fill: white;
}

#vr {
    display: inline-block;
    width: 2px;
    height: 100%;
    margin-inline: 2vw;

    background-color: white;
}

content {
    display: flex;
    height: 96vh;

    justify-content: space-between;
}

#formatBar {
    --noFormats: 1;
    display: inline;
    height: 100vh;
    width: var(--formatPickerWidth);
    min-width: 200px;
    margin-top: -4vh;

    border-right: 5px solid var(--foregroundColour);
    backdrop-filter: blur(20px);
}

#formatBar button {
    position: relative;
    display: flex;
    height: calc(100% / var(--noFormats));
    width: 100%;
    overflow: hidden;

    border: none;
    border-bottom: 5px solid var(--foregroundColour);

    background-color: #ffffff15;
    color: var(--foregroundColour);
}

#formatBar button h1 {
    margin: 0;

    float: left;
    
    font-family: 'Motiva-Black';
    font-size: calc(30vh / var(--noFormats));
    font-weight: normal;
}

#formatBar button a {
    position: absolute;
    left: 6px;
    top: calc(30vh / var(--noFormats) + 6px);
    
    font-family: 'lulo';
    font-size: calc(6vh / var(--noFormats));
    color: #ffffff99;
}

#formatBar button img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 80%;
    z-index: -1;
}

#formatBar :last-child {
    border: none;
}

#formatBar .selected {
    color: var(--highlightColour);
}

#formatBar .selected a {
    color: #CE000099;
}

#editor {
    position: relative;
    display: block;
    height: calc(var(--editorWidth) / var(--aspectRatio));
    max-height: 70%;
    width: var(--editorWidth);
    margin: auto var(--innerMargin) auto calc(var(--innerMargin) + var(--outerMargin));
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

#cutBox {
    pointer-events: none;
}

.highlightBorder{
    border: 2px solid var(--highlightColour);
}

#topControls {
    position: absolute;
    display: flex;
    width: 100%;
    height: 51px;
    top: 10vh;

    justify-content: center;
}

#topControls button {
    border: 0;
    padding: 0;
    height: 51px;
    width: 51px;
}

#topControls button img {
    height: 51px;
    width: 51px;
}

#rotateLeft {
    margin-right: 20px;
}

#controls {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    bottom: 5vh;

    justify-content: center;
}
#controls button {
    width: 20%;
    font-family: 'lulo';
    font-size: large;
}
#addOne {
    margin-right: 20px;

    border: 3px solid var(--highlightColour);
    background-color: var(--foregroundColour);
    color: var(--highlightColour);
}
#addAll {
    border: none;
    background-color: var(--highlightColour);
    color: var(--foregroundColour);
}

object, #placeHolder {
    width: var(--previewWidth);
    height: calc(var(--previewWidth) * (12/8.5));
    margin: auto var(--outerMargin) auto 0;
}